@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../Фото/Главная/bgr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0%;
}
body main {
  max-width: 62.5%;
  margin-left: 19%;
  margin-bottom: 0%;
}
body main h1 {
  text-align: center;
  color: rgb(41, 37, 126);
  font-size: 3vw;
  font-weight: 1;
  font-stretch: ultra-condensed;
}
body main .image-container {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
body main .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
body footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-top: 7%;
  width: 19%;
}
body footer .twz {
  color: rgba(0, 0, 0, 0.407);
  margin-left: 19%;
  line-height: 0.3;
}
body footer .twz .toto {
  color: rgba(41, 37, 126, 0.61);
}
body .navo {
  border-radius: 30px;
  width: 57%;
  height: 90px;
  margin-top: 2%;
  margin-bottom: 6%;
  background-color: rgba(255, 255, 255, 0.705);
  border: 5px solid rgb(41, 37, 126);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5%;
}
body .navo .burger {
  display: none;
}
body .navo .text {
  font-size: 0.8vw;
  align-items: center;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .navo .text a {
  text-decoration: none;
  color: inherit;
  background-image: linear-gradient(to bottom, rgba(41, 37, 126, 0) 50%, rgb(41, 37, 126) 50%);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s ease, color 0.3s ease;
  display: inline-block;
}
body .navo .text a:hover {
  color: rgb(41, 37, 126);
  background-size: 100% 2px;
}
body .navo .text img {
  border-radius: 15px;
  width: 11.7%;
}
body header .TORONTO {
  text-align: center;
  margin-top: 7%;
  color: rgb(41, 37, 126);
  font-size: 5vh;
}
body header .head {
  width: 100%;
  height: 5%;
  background-color: rgb(41, 37, 126);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}
body header .head .text {
  font-size: 1vw;
  display: flex;
  color: white;
  white-space: nowrap;
}
body header .head .text .left {
  margin-top: 0.8%;
  margin-left: 18.5%;
  margin-right: 27.5%;
  align-items: center;
}
body header .head .text .right {
  margin-top: -0.5%;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
body header .head .text .right .burger {
  display: none;
}
body header .head .text .right a {
  margin-right: 20%;
  margin-left: 20%;
  text-decoration: none;
  color: white;
}
body header .head .text .right a:hover {
  color: rgb(213, 211, 211);
  background-size: 100% 2px;
}
body header .head .text .right a p {
  margin-right: 20%;
}

@media (max-width: 480px) {
  body .navo {
    margin-top: -25%;
  }
  body header p {
    font-size: 1.5vw;
  }
  body header .TORONTO {
    text-align: center;
    margin-top: 9%;
    color: rgb(41, 37, 126);
    font-size: 3vh;
  }
  body header .head {
    border: 0px;
    height: 2%;
  }
  body header .head .text {
    width: 100%;
    margin-left: -15%;
    font-size: 2vw;
  }
  body header .head .text .left {
    margin-left: -23%;
    margin-top: 1%;
    margin-right: 2%;
  }
  body header .head .text .right {
    margin-top: -0.9%;
  }
  body header .head .text .right .burger {
    display: block;
    font-size: 12px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  body header .head .text .right p {
    margin-right: 1%;
  }
}
@media (max-width: 768px) {
  body .navo {
    position: relative;
    border: 0px solid;
    font-size: 20px;
    height: 50%;
    width: 100%;
    margin-top: -14%;
    margin-left: 0%;
    text-align: right;
    padding: 0% 0.3% 0.2% 0.2%;
    border-radius: 0;
  }
  body .navo .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(41, 37, 126);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: max-height 0.9s ease;
    max-height: 0;
    overflow: hidden;
  }
  body .navo .text h2 {
    font-size: 13px;
    margin: 10px;
  }
  body .navo.active .text {
    display: flex;
    max-height: 200px;
  }
  body .navo img {
    display: none;
  }
  body main {
    margin-top: 5%;
    max-width: 63%;
    margin-left: 19%;
    margin-bottom: 0%;
  }
  body main h1 {
    text-align: center;
    color: rgb(41, 37, 126);
    font-size: 3vw;
    font-weight: 1;
    margin-top: 30%;
    font-stretch: ultra-condensed;
  }
  body main .image-container {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
  }
  body main .image-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  body footer img {
    max-width: 36%;
  }
  body footer .twz h5 {
    font-size: 7px;
  }
  body footer .twz p {
    font-size: 7px;
  }
  body header .TORONTO {
    font-size: 5vw;
  }
  body header .head {
    font-size: 8px;
    border: 0px;
    height: 3%;
  }
  body header .head .text .left {
    margin-left: 20%;
    margin-top: 1%;
    margin-right: 23%;
  }
  body header .head .text .right {
    margin-top: -0.3%;
  }
  body header .head .text .right .burger {
    display: block;
    font-size: 12px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  body header .head .text .right p {
    margin-right: 10%;
  }
}/*# sourceMappingURL=razmer.css.map */